* {
    box-sizing: border-box;
}

body {
    background-color: #ECF5FF;
    margin: 0px;
}

header {
    background-color: #CECEFF;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer {
    background-color: #CECEFF;
    color: #003060;
    text-align: center;
    padding: 5px;
}