* {
    box-sizing: border-box;
}

body {
    background-color: #ECF5FF;
    margin: 0px;
}

header {
    background-color: #CECEFF;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-family: Agbalumo;
}

.card {
    font-size: 22px;
    text-align: center;
    font-family: Lobster;
    background-image: url(image/主頁.jpg);
    background-size: cover;
}

.pp {
    text-align: center;
}

.data {
    font-size: 20px;
    font-family: 微軟正黑體;
    text-align: center;
}

.card1 {
    font-family: Lobster;
    font-size: 28px;
    color: #3A006F;
    text-align: center;
    background-image: url(image/page1.jpg);
    background-size: cover;
}

.interest {
    color: black;
    font-size: 20px;
    font-family: 微軟正黑體;
}

footer {
    background-color: #CECEFF;
    color: #003060;
    text-align: center;
    padding: 5px;
}